# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

In [4]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import numpy as np
import pandas as pd

In [6]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv('C:/Users/epg_F/Homework_1/baseball_games.csv', delimiter = ',')
data.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [9]:
#data.loc[data['attendance'].idxmax()]  

# Сначала я использовал .loc, но мне не нравился формат вывода. 
#Гугл подсказал, что есть метод .nlargest. В итоге оказалось, что в сезоне было 2 игры с равным количеством зрителей
# цифра в скобках показывает сколько хотим вывести строк 
# в дальнейшем использовал этот метод

data.nlargest(2,'attendance')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
358,358,54449.0,Chicago Cubs,0,13,8,2016-10-20,on grass,Night Game,Los Angeles Dodgers,...,89.0,7.0,out to Centerfield,Night,12,4.266667,post season,0,1,Loss
360,360,54449.0,Chicago Cubs,2,13,10,2016-10-19,on grass,Night Game,Los Angeles Dodgers,...,89.0,4.0,out to Rightfield,Night,12,3.966667,post season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [11]:
data.nsmallest(1,'temperature')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [96]:
data.nlargest(1,'temperature')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [92]:
data.nlargest(1,'game_hours_dec')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [104]:
data.nsmallest(1,'game_hours_dec')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [106]:
draws = data[(data['home_team_win'] == data['home_team_loss'])]

# Количество ничьих
num_draws = draws.shape[0]

print(f"Количество матчей, закончившихся ничьей: {num_draws}")

Количество матчей, закончившихся ничьей: 1

# 7. Какая игра была последней в сезоне?

In [136]:
#data.loc[data['date'].idxmax()]
#data.loc[data['date'].argmax()]   # returns a Series
data[data.date == data.date.max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
350,350,38104.0,Chicago Cubs,3,13,8,2016-11-02,on grass,Night Game,Cleveland Indians,...,69.0,7.0,from Left to Right,Cloudy,15,4.466667,post season,0,1,Loss

# 8. У какой игры было минимальное количество зрителей?

In [142]:
data.nsmallest(1,'attendance')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [146]:
#data.loc[data['wind_speed'].idxmax()]
# Оказалось, что было 2 игры с максимальной скоростью ветра = 25.0
data.nlargest(2,'wind_speed')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [154]:
# Создание DataFrame
df = pd.DataFrame(data)

# Вычисление суммы очков для каждой игры
df['total_runs'] = df['home_team_runs'] + df['away_team_runs']

# Нахождение игры с максимальным количеством очков
df.nlargest(1, 'total_runs')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [166]:
data.nlargest(1,'home_team_errors')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество ранов?

In [174]:
data.nlargest(1,'total_runs')

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [182]:
# Подсчет количества игр для каждой команды
home_games = data['home_team'].value_counts()
away_games = data['away_team'].value_counts()

# Объединение результатов
total_games = home_games.add(away_games, fill_value=0).astype(int)

# Вывод количества игр каждой команды
print(total_games)

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                163
Boston Red Sox                   165
Chicago Cubs                     179
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                176
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              173
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    163
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             167
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    165
Toronto Blue Jays                171
Washington Nationals             167
Name: count, dtype: int32

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [40]:
 # Создание DataFrame
df = pd.DataFrame(data)

# Фильтрация по регулярному сезону
regular_season = df[df['season'] == 'regular season']

# Подсчет побед для домашних команд
home_wins = regular_season[regular_season['home_team_outcome'] == 'Win']['home_team'].value_counts()

# Подсчет побед для выездных команд
away_wins = regular_season[regular_season['home_team_outcome'] == 'Loss']['away_team'].value_counts()

# Объединение результатов
total_wins = home_wins.add(away_wins, fill_value=0).astype(int)

# Определение команды с наибольшим количеством побед
team_with_most_wins = total_wins.idxmax()  
most_wins = total_wins.max() 

print(f"Команда, выигравшая наибольшее количество матчей в регулярном сезоне: {team_with_most_wins} ({most_wins} побед)")

Команда, выигравшая наибольшее количество матчей в регулярном сезоне: Chicago Cubs (104 побед)

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [62]:
# Фильтрация домашних побед
home_wins = data[data['home_team_runs'] > data['away_team_runs']]

# Подсчет побед для каждой команды
home_wins_count = home_wins['home_team'].value_counts()

# Определение команды с наибольшим количеством домашних побед
team_with_most_home_wins = home_wins_count.idxmax()
most_home_wins = home_wins_count.max()

print(f"Команда с наибольшим количеством домашних побед: {team_with_most_home_wins} ({most_home_wins} побед)")

Команда с наибольшим количеством домашних побед: Chicago Cubs (62 побед)

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [50]:
# Фильтрация данных для выездных побед
away_wins = data[data['home_team_outcome'] == 'Loss']

# Подсчет побед для каждой выездной команды
away_wins_count = away_wins['away_team'].value_counts()

# Определение команды с наибольшим количеством выездных побед
team_with_most_away_wins = away_wins_count.idxmax()  
most_away_wins = away_wins_count.max()  

print(f"Команда с наибольшим количеством гостевых побед: {team_with_most_away_wins} ({most_away_wins} побед)")

Команда с наибольшим количеством гостевых побед: Chicago Cubs (53 побед)

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [52]:
# Подсчет поражений для каждой команды
losses_count = data[data['home_team_outcome'] == 'Loss']['home_team'].value_counts()
losses_count = losses_count.add(data[data['home_team_outcome'] == 'Win']['away_team'].value_counts(), fill_value=0)

# Определение команды с наибольшим количеством поражений
team_with_most_losses = losses_count.idxmax()   
most_losses = losses_count.max()  

print(f"Команда, проигравшая наибольшее количество матчей: {team_with_most_losses} ({most_losses} поражений)")

Команда, проигравшая наибольшее количество матчей: Minnesota Twins (103 поражений)

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [62]:
df = pd.DataFrame(data)

# Кодируем результаты матча: 1 - выигрыш, 0 - проигрыш
df['home_team_outcome_numeric'] = df['home_team_outcome'].map({'Win': 1, 'Loss': 0})

# Рассчитываем ковариацию между количеством зрителей и результатом
covariance = df[['attendance', 'home_team_outcome_numeric']].cov().iloc[0, 1]

print(f"Ковариация между количеством зрителей и выигрышем домашней команды: {covariance:.2f}")

Ковариация между количеством зрителей и выигрышем домашней команды: 224.97

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [58]:
 # Создание DataFrame
df = pd.DataFrame(data)

# Фильтрация проигрышных домашних матчей
home_losses = df[df['home_team_outcome'] == 'Loss']

# Подсчет количества проигрышей по дням недели
losses_by_day = home_losses['day_of_week'].value_counts()

# Подсчет проигрышей в субботу и воскресенье
weekend_losses = losses_by_day.get('Saturday', 0) + losses_by_day.get('Sunday', 0)

# Подсчет общего количества проигрышей
total_losses = losses_by_day.sum()

# Определение доли проигрышей на выходных, используя значение по умолчанию
weekend_ratio = (weekend_losses / total_losses * 100)  

print(f"Процент проигрышных домашних матчей на выходных (cуббота и dоскресенье): {weekend_ratio:.2f}%")

Процент проигрышных домашних матчей на выходных (cуббота и dоскресенье): 31.49%

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [60]:
# Создание DataFrame
df = pd.DataFrame(data)

# Фильтрация игр с температурой ниже 0 градусов
cold_weather_games = df[df['temperature'] < 0]

# Подсчет общего количества ранов в холодную погоду
cold_weather_runs = cold_weather_games['total_runs'].sum()

# Фильтрация игр с температурой 0 градусов и выше
warm_weather_games = df[df['temperature'] >= 0]

# Подсчет общего количества ранов в теплую погоду
warm_weather_runs = warm_weather_games['total_runs'].sum()

# Вывод результатов
print(f"Общее количество ранов в холодную погоду (ниже 0 градусов): {cold_weather_runs}")
print(f"Общее количество ранов в теплую погоду (0 градусов и выше): {warm_weather_runs}")

if cold_weather_runs > warm_weather_runs:
    print("Правда. Наибольшее количество ранов происходит в холодную погоду.")
else:
    print("Ложь. Наибольшее количество ранов происходит в теплую погоду.")

Общее количество ранов в холодную погоду (ниже 0 градусов): 0
Общее количество ранов в теплую погоду (0 градусов и выше): 22003
Ложь. Наибольшее количество ранов происходит в теплую погоду.